 <!-- footer started from here -->
      <footer class="big-footer">
        <div class="footer-overlay"></div>
          <div class="container">
            <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <h4 class="footer-heading">Let's Connect</h4>
                      <p class="footer-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <div class="social-icons">
                        <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="instagram"><i class="fa fa-instagram"></i></a>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <h4 class="footer-heading">Recent Blog</h4>
                    <div class="media">
                      <div class="media-left">
                        <%= image_tag "image_1.jpg" %>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Even the all-powerful Pointing has no control about</h5>
                        <div class="blog-stat xs">
                          <a href="#"><i class="fa fa-calendar"></i>Sep 10, 2018</a>
                          <a href="#"><i class="fa fa-user"></i>Admin</a>
                          <a href="#"><i class="fa fa-commenting"></i>3</a>
                        </div>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left">
                         <%= image_tag "image_2.jpg" %>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Even the all-powerful Pointing has no control about</h5>
                        <div class="blog-stat xs">
                          <a href="#"><i class="fa fa-calendar"></i>Sep 10, 2018</a>
                          <a href="#"><i class="fa fa-user"></i>Admin</a>
                          <a href="#"><i class="fa fa-commenting"></i>3</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-6">
                      <h4 class="footer-heading">Site Links</h4>
                    <ul class="list-unstyled footer-li">
                      <li><a href="#" title="text">Home</a></li>
                      <li><a href="#" title="text">About</a></li>
                      <li><a href="#" title="text">Course</a></li>
                      <li><a href="#" title="text">Students</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <h4 class="footer-heading">Have a Questions?</h4>
                      <address>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-map-marker"></i><span>Building no. 125, Rathyatra Marg, Varanasi, Uttar Pradesh (India)</span></li>
                          <li><i class="fa fa-phone"></i><a href="#" title="call">+91-9473515900</a></li>
                          <li><i class="fa fa-envelope"></i><a href="mailto:info@yourdomain.com" title="mail">samarsingh748@gmail.com</a></li>
                       </ul>
                      </address>
                  </div>
            </div>
            <div class="copyright-sec text-center">
              Copyright ©2019 All rights reserved.
            </div>
          </div>
      </footer>
