       <div class="banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="banner-text text-center">
              <h1 class="banner-head">No Nation Can Prosper In Life Without Education</h1>
              <div class="btns">
                <%= link_to 'Apply Now', new_user_session_path,class: 'login-btn'  %>
                <a href="#" class="login-btn yellow-btn">View Courses</a>
              </div>
            </div>
          </div>
        </div>
      <!-- banner-ends -->
      <section class="cmn-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4 col-pad">
                <div class="icon-div"><span class="fa fa-lock"></span></div>
                  <div class="media-sec">
                  <h3 class="heading-3">Admission</h3>
                  <p class="abt-para">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
              </div>
              <div class="col-md-4 col-pad">
                  <div class="icon-div"><span class="fa fa-lock"></span></div>
                    <div class="media-sec">
                    <h3 class="heading-3">Notice Board</h3>
                    <p class="abt-para">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                  </div>
                </div>
                <div class="col-md-4 col-pad">
                  <div class="icon-div"><span class="fa fa-lock"></span></div>
                    <div class="media-sec">
                    <h3 class="heading-3">Our Library </h3>
                    <p class="abt-para">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                  </div>
                </div>
            </div>
          </div>
      </section>