       <div class="banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="banner-text text-center">
              <h1 class="banner-head">No Nation Can Prosper In Life Without Education</h1>
              <div class="btns">
                <%= link_to 'Events', event_path, class: "login-btn" %>
                <%= link_to 'Courses', enrollmca_path, class: "login-btn yellow-btn" %>
              </div>
            </div>
          </div>
        </div>
      <!-- banner-ends -->
      <section class="cmn-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4 col-pad">
                <div class="icon-div"><span class="fa fa-lock"></span></div>
                  <div class="media-sec">
                  <h3 class="heading-3">Admission</h3>
                  <p class="abt-para">Admission will starts from the mid of April till end of june.Based on the entrance result only.</p>
                </div>
              </div>
              <div class="col-md-4 col-pad">
                  <div class="icon-div"><span class="fa fa-lock"></span></div>
                    <div class="media-sec">
                    <h3 class="heading-3">Notice Board</h3>
                    <p class="abt-para">All the notice related to any of the activity done in the Campus will be share through Let's Connect Portal.</p>
                  </div>
                </div>
                <div class="col-md-4 col-pad">
                  <div class="icon-div"><span class="fa fa-lock"></span></div>
                    <div class="media-sec">
                    <h3 class="heading-3">Our Library </h3>
                    <p class="abt-para">Let's Connect provide all time accessible library to the students and also the inter faculty-student realtionships.</p>
                  </div>
                </div>
            </div>
          </div>
      </section>