<div class="banner">
      <div class="overlay"></div>
        <div class="container">
          <div class="banner-text text-center">
            <ol class="breadcrumb">
              <li><%= link_to 'HOME', root_path %></li>
              <li class="active"><span>EVENTS</span></li>
            </ol>
            <h1 class="banner-head">About</h1>
          </div>
        </div>
      </div>
  <section class="cmn-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="welcome-img">
            <%= image_tag("event-3.jpg", class: "img-responsive one", alt: "about") %>
             <%= image_tag("bg_3.jpg", class: "img-responsive two ", alt: "about") %>
           </div>
          </div>
        <div class="col-md-6">
          <div class="welcome-wrap">
           <h2 class="course-heading wc-head">Welcome to Let's Connect Stablished Since 2019</h2>
              <p class="text-para">Let’s Connect  is a website to connect all students ,professors and admin to connection with each other .It is a platform where a new user can get information about college ,event, courses, notice .It will give all details about college teacher and can interact with each other. Apart from that we can post our views and can also see other post.We can mail to our friends and professors to know details in any specific problem.<br><br>
Recent advances in the Web have rapidly changed our life in various ways. These advances provide new ways for people to communicate and assess vast amounts of information. The Web provides educators with opportunities to implement a range of new teaching and learning practices, which redefine learning experiences. The Web enables a so-called WBI (Web-Based Instruction) system as a teaching aid. The WBI system, which integrates a hypertext information network with communication and collaborative tools, presents two important innovative features: first, it provides specific tools to manipulate the multimedia information contents of the Web pages; second, authorized users can modify the information network in the system.</p>
          </div>
        </div>
      </div>
    </div>
  </section>