<div class="cmn-section hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread">About</h1>
          </div>
        </div>
      </div>
    </div>

 <div class="cmn-section">
 		<div class="image">
 			<%= image_tag("university.jpg", class: "img-responsive", alt: "university") %>
 		</div>
 		<div class="detail">
 		<p>Let’s Connect  is a website to connect all students ,professors and admin to connection with each other .It is a platform where a new user can get information about college ,event, courses, notice .It will give all details about college teacher and can interact with each other. Apart from that we can post our views and can also see other post.We can mail to our friends and professors to know details in any specific problem.
Recent advances in the Web have rapidly changed our life in various ways. These advances provide new ways for people to communicate and assess vast amounts of information. The Web provides educators with opportunities to implement a range of new teaching and learning practices, which redefine learning experiences. The Web enables a so-called WBI (Web-Based Instruction) system as a teaching aid. The WBI system, which integrates a hypertext information network with communication and collaborative tools, presents two important innovative features: first, it provides specific tools to manipulate the multimedia information contents of the Web pages; second, authorized users can modify the information network in the system.
Despite of many benefits of the Web in the learning process, it may weaken students’ motivation in the cyberspace because of lack of face-to-face communication. The lack of student control is also considered one of the drawbacks of WBI unless a teacher keeps the students working towards its goal. As teachers’ influence decreases, students may become disengaged. Thus, students are unable to concentrate their thoughts upon their work. It is reported that about 30%-50% of students who have started a distance education course dropped out before the end of the course . To make the learning process effective, we must motivate students to be engaged in the learning activities. A learning experience where the learner must contribute to an activity is called active engagement, while a learning experience where the learner is mainly a recipient of  information is called passive engagement . When a form of engagement is engrossed by a learning activity, the learner is focused and attentive, and becomes captured and committed to the task at hand.
Teachers have found that working on projects is an engaging activity with a large potential for facilitating learning . Project work provides a context for taking initiative and assuming responsibility, making decisions and choices, and pursuing interests. The Project-Based Learning Model also can be used to enrich the curriculum, strengthen Internet skills, and provide integrated and thematic learning opportunities . In this paper, we present the Web-based Project-Based Learning Model for the Web environment. It is based on the existing Project-Based Learning Model, but it also can motivate students and provide real life contexts for successful collaborative learning in various ways on the Web. Our model also adopts the principles of constructivism so that both collaborative learning and self-learning are emphasized.</p>
 		</div>
 </div>
