
    <div class="cmn-section enroll-banner">
      <div class="overlay"></div>
      <div class="container">
        <h1 class="banner-head inline">M.C.A</h1>
        <div class="pagenation">
          <%= link_to 'Home', root_path %> <i>/</i> <span>M.C.A(Masters in Computer Applications)</span>
        </div>
      </div>
    </div>
    <section class="cmn-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <strong class="text-head">Program Outline</strong>
            <p class="para-data">The Programme thrust is on giving the students a thorough and sound background in theoretical and application-oriented courses relevant to the latest computer software development. The programme emphasizes the application of software technology to solve mathematical, computing, communications/networking and commercial problems. The first year courses are aimed at skills development in computers using various technologies, the second year is more focused on core courses providing conceptual frame work and the third year provides the specialization and the project work.+</p>
                
            <strong class="text-head">Eligiblity</strong>
            <p class="para-data">All those candidates who have passed any recognized Bachelor degree of minimum three years duration with Mathematics/ Statistics /Business Mathematics / Business Statistics / Quantitative Techniques as Compulsory/ Optional/ Additional Paper as one of the subjects either at 10+2 or at graduation level or Have passed BCA course of minimum three years duration from any recognized University.</p>
            <strong class="text-head">For Admission into Second Year of Master of Computer Application Programme (Lateral Entry) :
</strong>
            <p class="para-data">Recognized Bachelor Degree of minimum 3 years duration in BCA, B.Sc. (IT/ Computer Science) with Mathematics as a course at 10+2 level or at Graduate Level and have obtained at least 50% (45% in case of candidate belonging to reserved category) at the qualifying Examination..</p>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading bg-blue white-text">Program Details – M.C.A</div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td class="hidden-sm hidden-xs">Duration</td>
                          <td>3 Years</td>
                        </tr>
                        <tr>
                          <td class="hidden-sm hidden-xs">Mode</td>
                          <td>Full Time</td>
                        </tr>
                        <tr>
                          <td class="hidden-sm hidden-xs">Intake</td>
                          <td>30</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading bg-blue white-text">Program Details – M.C.A</div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody>
                          <tr>
                            <td class="hidden-sm hidden-xs">Duration</td>
                            <td>2 Years</td>
                          </tr>
                          <tr>
                            <td class="hidden-sm hidden-xs">Mode</td>
                            <td>Lateral Entry</td>
                          </tr>
                          <tr>
                            <td class="hidden-sm hidden-xs">Intake</td>
                            <td>30</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

    
          </div>
        </div>
      </div>
    </section>
