
    <div class="cmn-section enroll-banner">
      <div class="overlay"></div>
      <div class="container">
        <h1 class="banner-head inline">MBA</h1>
        <div class="pagenation">
          <%= link_to 'Home', root_path %> <i>/</i> <span>M.B.A</span>
        </div>
      </div>
    </div>
    <section class="cmn-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <strong class="text-head">Program Outline</strong>
            <p class="para-data">Institute of Management Studies, Bhaddal Technical Campus offers regular full-time courses focused on industry-aligned teaching, augmented by industrial visits and add-on courses for knowledge boosting, skill-oriented training workshops, and project based learning to guide the student on the right career path. Our MBA courses have dual specializations in: Human Resources, Finance, Marketing leading to a versatile choice in career paths.</p>
               
            <strong class="text-head">Eligiblity</strong>
            <p class="para-data">All those candidates who have passed Bachelors Degree of minimum three year duration in any discipline from a University recognized by the University Grants Commission (UGC) and with valid rank in CMAT shall be eligible to apply for MBA course.</p>
           
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading bg-blue white-text">Program Details – MBA(Hons.)</div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td class="hidden-sm hidden-xs">Duration</td>
                          <td>2 Years</td>
                        </tr>
                        <tr>
                          <td class="hidden-sm hidden-xs">Mode</td>
                          <td>Full Time</td>
                        </tr>
                        <tr>
                          <td class="hidden-sm hidden-xs">Intake</td>
                          <td>30</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading bg-blue white-text">Program Details – MBA</div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody>
                          <tr>
                            <td class="hidden-sm hidden-xs">Duration</td>
                            <td> Years</td>
                          </tr>
                          <tr>
                            <td class="hidden-sm hidden-xs">Mode</td>
                            <td>Full Time</td>
                          </tr>
                          <tr>
                            <td class="hidden-sm hidden-xs">Intake</td>
                            <td>60</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>                
          </div>
        </div>
      </div>
    </section>
  