
    <div class="cmn-section enroll-banner">
      <div class="overlay"></div>
      <div class="container">
        <h1 class="banner-head inline">B.Tech.</h1>
        <div class="pagenation">
          <%= link_to 'Home', root_path %> <i>/</i> <span>B.Tech.</span>
        </div>
      </div>
    </div>
    <section class="cmn-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <strong class="text-head">Program Outline</strong>
            <p class="para-data">We offers regular full-time courses focused on industry-aligned teaching,augmented by industrial visits and add-on courses for knowledge boosting, skill-oriented training workshops, and project based learning to guide the student on the right career path.We provide B.Tech in the following disciplines:</p>
                <div class="courses">B.Tech (Computer Science & Engineering)</div>
                <div class="courses">B.Tech (Electronics & Comm. Engineering)</div>
                <div class="courses">B.Tech (Mechanical Engineering)</div>
                <div class="courses">B.Tech (Civil Engineering)</div>
                <div class="courses">B.Tech (Electrical Engineering)</div>
            <strong class="text-head">Eligiblity</strong>
            <p class="para-data">All those candidates who have passed the 10+2 examination from a board recognized or established by central/state government through a legislation with Physics and Mathematics as compulsory subjects along with any one of these subjects:- Chemistry/Biotechnology/Computer Science and Biology. – OR – Those candidates who have passed diploma in any Engineering Trade from Punjab State Board of Technical Education & Industrial Training, Chandigarh or Sant Longowal Institute of Engineering and Technology, Longowal (SLIET), or any such examination from any other recognized State Board of Technical Education.</p>
            <strong class="text-head">Lateral Entry to 2nd year B.Tech</strong>
            <p class="para-data">All those candidates who have passed Diploma examination from an AICTE approved institution and have obtained at least 45% marks (40% in case of Candidates belonging to reserved category) in appropriate branch of Engineering / Technology shall be eligible to apply. – OR – All those candidates who have passed B. Sc. Degree from a recognized University as defined by UGC, with at least 45% marks (40% in case of Candidates belonging to reserved category) and passed XII standard with mathematics as a subject shall be eligible to apply and Students who have passed B. Sc. Degree from a recognized University as defined by UGC, shall clear the subject of Engineering Graphics / Engineering Drawing and Engineering Mechanics of the first year engineering program along with second year subjects.</p>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading bg-blue white-text">Program Details – B.Tech. (CSE)</div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td class="hidden-sm hidden-xs">Duration</td>
                          <td>4 Years</td>
                        </tr>
                        <tr>
                          <td class="hidden-sm hidden-xs">Mode</td>
                          <td>Full Time</td>
                        </tr>
                        <tr>
                          <td class="hidden-sm hidden-xs">Intake</td>
                          <td>120</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading bg-blue white-text">Program Details – B.Tech. (ME)</div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody>
                          <tr>
                            <td class="hidden-sm hidden-xs">Duration</td>
                            <td>4 Years</td>
                          </tr>
                          <tr>
                            <td class="hidden-sm hidden-xs">Mode</td>
                            <td>Full Time</td>
                          </tr>
                          <tr>
                            <td class="hidden-sm hidden-xs">Intake</td>
                            <td>60</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading bg-blue white-text">Program Details – B.Tech. (ECE)</div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead></thead>
                          <tbody>
                            <tr>
                              <td class="hidden-sm hidden-xs">Duration</td>
                              <td>4 Years</td>
                            </tr>
                            <tr>
                              <td class="hidden-sm hidden-xs">Mode</td>
                              <td>Full Time</td>
                            </tr>
                            <tr>
                              <td class="hidden-sm hidden-xs">Intake</td>
                              <td>120</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  
          </div>
        </div>
      </div>
    </section>
  