<div class="msg-wrap" >
	<div class="msg-info">
		<span class="msg-time"><%= messages.created_at.strftime("%I:%M %P") %></span>
		<span class="user-name"><%= messages.user.username %></span>
	<div>
 	<div class="message"><%= messages.body %>
 	</div>
</div >
